.para
{
    text-align: center;
    border: 1px solid red;
    width: 70%;
    position: relative;
    line-height: 4vh;
    margin: auto;
}
.button-container {
    margin: 30px;
}
.input-button
{
    margin-left: 20px;
}

